* {
    box-sizing: border-box;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

a {
    font-weight: 500;
    color: #0a85d9;
    text-decoration: inherit;
}

a:hover {
    color: #33a1ff;
}

input {
    font-family: Quicksand, Helvetica, sans-serif;
}
