* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: #0a85d9;
    font-weight: 500;
    text-decoration: inherit;
}

a:hover {
    color: #33a1ff;
}

input {
    font-family: Quicksand, Helvetica, sans-serif;
}

button {
    padding: 0;
}
