:host {
    --scale: 1vmin;

    position: absolute;
    top: 0;
    display: flex;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
}

:host(:not([show])) {
    display: none;
}

:host > .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(calc(0.75 * var(--scale)));
}

:host > .splash {
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--scale));
    place-content: center;
    place-items: center;
    max-width: 100%;
    max-height: 100%;
    border: calc(0.75 * var(--scale)) solid #6b3c33;
    border-radius: calc(0.5 * var(--scale));
    padding: calc(2 * var(--scale));
    background-color: #271612;
    box-shadow: 0 0 calc(1.2 * var(--scale)) calc(0.5 * var(--scale)) #1f1412;
    z-index: 1;
}

:host > .splash > .heading {
    margin: 0 calc(1 * var(--scale));
    font-size: calc(12 * var(--scale));
    white-space: nowrap;
}

:host > .splash > .action {
    margin: calc(2 * var(--scale));
    border: none;
    background: none;
    color: #32a4ce;
    font-family: monospace;
    font-size: calc(2.5 * var(--scale));
    font-weight: 500;
    cursor: pointer;
}

:host > .splash > .action:hover {
    color: #2780a0;
}
