:host {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

:host(:not([show])) {
    display: none;
}

:host > .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.5rem);
}

:host > .splash {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    min-width: 25rem;
    align-items: center;
    justify-content: center;
    border: 0.5rem solid #6B3C33;
    border-radius: 1rem;
    background-color: #271612;
    box-shadow: 0 0 1.2rem 0.5rem #1F1412;
    z-index: 1;
}

:host > .splash > .heading {
    margin: 0 1rem;
    font-size: clamp(4rem, 10vw, 10rem);
}

:host > .splash > .stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

:host > .splash > .stats > .block {
    display: flex;
    flex-direction: column;
    width: clamp(10rem, 20vw, 20rem);
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #6B3C33;
}

:host > .splash > .stats > .block > .heading {
    margin: 0;
}

:host > .splash > .stats > .block > .content {
    display: flex;
    width: calc(100% - 1rem);
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    background-color: #FF9B84;
}

:host > .splash > .action {
    margin: 2rem;
    font-family: monospace;
    font-size: clamp(1.125rem, 2vw, 1.5rem);
    font-weight: 500;
    color: #32a4ce;
    background: none;
    border: none;
    cursor: pointer;
}

:host > .splash > .action:hover {
    color: #2780a0;
}