:host {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

:host(:not([show])) {
    display: none;
}

:host > .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.5rem);
}

:host > .splash {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 0.5rem solid #6B3C33;
    background-color: #271612;
    box-shadow: 0 0 1.2rem 0.5rem #1F1412;
    z-index: 1;
}

:host > .splash > * {
    margin: 1rem 0;
}

:host > .splash > .heading {
    font-size: 10vw;
    margin: 1rem;
}

:host > .splash > .stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

:host > .splash > .stats > .block {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #6B3C33;
}

:host > .splash > .stats > .block > .heading {
    margin: 0;
}

:host > .splash > .stats > .block > .content {
    display: flex;
    width: 93%;
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #FF9B84;
}

:host > .splash > .action {
    font-family: monospace;
    margin: 4rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 500;
    color: #32a4ce;
    border: none;
    background: none;
    cursor: pointer;
}

:host > .splash > .action:hover {
    color: #2780a0;
}