<template>
    <section class="table">
        <div class="header">
            <div class="th"><h3>Rank</h3></div>
            <div class="th"><h3>Player Name</h3></div>
            <div class="th"><h3>Score</h3></div>
            <div class="th"><h3>Moves</h3></div>
        </div>
        <div class="content">
            <div data-slot></div>
            <div class="td" id="loader" show>
                <div class="spinner"></div>
                <h3 class="text">Loading...</h3>
            </div>
        </div>
    </section>

    <template data-row>
        <div class="td"><h2 data-rank></h2></div>
        <div class="td"><h2 data-name></h2></div>
        <div class="td"><h2 data-score></h2></div>
        <div class="td"><h2 data-moves></h2></div>
    </template>

    <template data-row-editable>
        <div class="td highlight"><h2 data-rank></h2></div>
        <div class="td highlight"><input id="name-input" maxlength="20" data-name /></div>
        <buffle-popover anchor="name-input"><input data-taunt /></buffle-popover>
        <div class="td highlight"><h2 data-score></h2></div>
        <div class="td highlight"><h2 data-moves></h2></div>
    </template>
</template>
