/* TODO: Move to native CSS nesting */

:host {
    --scale: 1vmin;

    width: 100%;
    height: 100%;
}

:host > .table {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    border: calc(0.5 * var(--scale)) solid #6b3c33;
    border-top: none;
    border-radius: calc(0.5 * var(--scale));
    background-color: #6b3c33;
    text-align: center;
}

:host > .table > .header,
:host > .table > .content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 1px;
}

:host > .table > .content {
    border-radius: calc(0.5 * var(--scale));
    overflow-y: scroll;
    scrollbar-width: none;
}

:host > .table > .content > .td {
    place-content: center;
    background-color: #ff7e5e;
}

:host > .table > .content > .td.highlight {
    background-color: #ff9b84;
}

:host #loader {
    grid-column: span 4;
    padding: 1rem;
}

:host #loader:not([show]) {
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

:host #loader > .spinner {
    --spin-gradient: conic-gradient(#0000 5%, #000), linear-gradient(#000 0 0) content-box;

    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    padding: calc(0.5 * var(--scale));
    background: #6b3c33;
    mask: var(--spin-gradient);
    mask-composite: subtract;
    animation: spin 1s infinite linear;
}

:host > .table > .header > .th > h3 {
    margin-block: calc(0.5 * var(--scale));
    font-size: calc(1.5 * var(--scale));
}

:host > .table > .content > .td > h2 {
    margin-block: calc(1.5 * var(--scale));
    font-size: calc(2 * var(--scale));
}

:host input {
    border: none;
    border-radius: calc(0.5 * var(--scale));
    margin: calc(0.25 * var(--scale));
    padding: calc(1 * var(--scale));
    background-color: #ff9b84;
    color: #ffffffde;
    font-size: calc(2 * var(--scale));
    font-weight: 700;
    text-align: center;
}

:host input:hover {
    outline: calc(0.2 * var(--scale)) solid #6b3c33;
}

:host input:focus {
    outline: calc(0.2 * var(--scale)) solid #6b3c33;
    background-color: #6b3c33;
    box-shadow: 0 0 calc(0.3 * var(--scale)) calc(0.05 * var(--scale)) #1f1412 inset;
}

:host input[data-taunt] {
    width: calc(30 * var(--scale));
}
