/* TODO: Move to native CSS nesting */

:host > table {
    text-align: center;
    background-color: #6b3c33;
    border: 0.5rem solid #6b3c33;
    border-top: none;
    border-spacing: 0.1rem;
    border-radius: 0.5rem;
}

:host > table > tbody {
    background-color: #ff7e5e;
}

:host > table > tbody > tr:first-of-type > td:first-of-type {
    border-top-left-radius: 0.5rem;
}

:host > table > tbody > tr:first-of-type > td:last-of-type {
    border-top-right-radius: 0.5rem;
}

:host > table > tbody > tr:last-of-type > td:first-of-type {
    border-bottom-left-radius: 0.5rem;
}

:host > table > tbody > tr:last-of-type > td:last-of-type {
    border-bottom-right-radius: 0.5rem;
}

:host > table > tbody > tr.highlight {
    background-color: #ff9b84;
}

:host > table > thead > tr > th > h3 {
    margin: 0.5rem;
}

:host > table > tbody > tr > td > h2 {
    margin: 1rem 5vw;
}

:host input {
    margin: 0.25rem;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    background-color: #ff9b84;
}

:host input:hover {
    outline: 0.2rem solid #6b3c33;
}

:host input:focus {
    background-color: #6b3c33;
    outline: 0.2rem solid #6b3c33;
    box-shadow: 0 0 0.3rem 0.05rem #1f1412 inset;
}

:host input[data-taunt] {
    width: 25rem;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

:host #loader > .spinner {
    width: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #6b3c33;
    --spin-gradient: conic-gradient(#0000 5%, #000), linear-gradient(#000 0 0) content-box;
    mask: var(--spin-gradient);
    mask-composite: subtract;
    animation: spin 1s infinite linear;
}

:host #loader > .text {
    margin: 0;
}
